@model List<Product>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br />
<br>
<br />
<br>
<br />
<html>
<vc:category-menu></vc:category-menu>
<br>
<br />
<style>
    .warning {
        border-color: #ff9800;
        color: orange;
    }

        .warning:hover {
            background: #ff9800;
            color: white;
        }</style>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white p-4">
                    @foreach (var product in Model)
                    {
                        <div class="card bg-transparent border-0 mb-3">
                            <div class="row">
                                <div class="col-4">
                                    <img src="~/assets/images/@product.Image" class="img-fluid rounded" alt="">
                                </div>
                                <div class="col-8">
                                    <a asp-action="Details" asp-route-id="@product.ProductId" class="btn-link fw-bold">@product.ProductName</a>
                                    <p> @product.ProductDescription</p>
                                    <a>@product.UnitPrice ₺</a>
                                </div>
                               

                            </div>
                            <form asp-page="/Cart" method="post">
                                <input type="hidden" asp-for="@product.ProductId" name="ProductId">
                                <button type="submit" class="btn warning" style="float:right;">Sepete Ekle</button>
                            </form>
                        </div>
                        <hr class="my-3">
                    }

                </div>
            </div>

          

        </div>
    </div>
</body>
</html>
